[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
tensorflow = "*"
requests = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"

[scripts]
lab = "jupyter lab"
